/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{
/* its always best to set up the fonts for the whole page first */


	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color:#d0e1e1;
	font-weight: 300;
  background-image: url("https://maddancer.com/wp-content/uploads/2014/12/elegant-blue-background_fJXpR_Su.jpg");
  background-color: #AED6F1;

/*
 the shorthand for declaring font properties goes:
font: weight size/line-height primary-font, fallback font
*/
	font: 300 16px/1.5 'Source Sans Pro', sans-serif;

}
/*
the expanded margin properties grouped below are the same as the shorthand version just below it
div{

margin-top: 40px;
margin-right: 60px;
margin-bottom: 20px
margin-left:10px;

	margin: 40px 60px 20px 10px;
}
*/
.hidden {
  display:none;
}
.container{

	max-width:960px;
	margin: 0 auto;
}

 header {

 	/* #fff is the same as #ffffff
 	this only works when all the characters are the same */
 	background-color: #ffffff;

/*
we can apply shadows (or glows) onto the outside of elements
the order of the properties is:

box shadow: x-offset y-offset blur radius spread-radius color
default color is black
*/

 	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

 	/*
 	as well as declaring colors as hex values, we can also declare
 	them using rgb values (red, green and blue). these are numbers
 	that range from 0-255, and control the levels of the three colours

    we can take this further by using the rgba property, which allows
    us to also specify how opaque the colour should be (using a number between
    0-1)

    for example, rgba(0,255, 0, 0.5) would give us a 50% opaque green

 	*/
 	position: fixed;

  /* here we give the header some precise positioning, ensuring it
  stays at the top of the page*/

 	top: 0;

/* when using fixed positioning, the element shrinks down so that
its only as wide as its content, so we need to manually override this */

 	width: 100%;

 	z-index:10;
/* when using fixed positioning, the element is taken outside of the normal flow
of the page and onto its own layer, whcih also means these layers are stacked on
top of each other

by default, elements have a z-index of 1, so here we need to tell
the header to force itself to the top layer to avoid anything else
obstructing it from view */

 }

h1{
	padding: 20px 0;
  text-align: center;
}
nav {
  text-align: center;
}
label {
  text-align: center;
}

nav a{
	color:#d0e1e1;
	text-decoration: none;
  text-align: center;

/* this padding is worked out by taking the overall height of the header (76px), and taking away the height
 of the header (76px), and taking away the height of the link
 itself (20px), which leaves us with 56px/2 */

	padding: 28px 20px;

	/* this gives you the best of both properties, by allowing you to stack elements
	alongside each other, and have them also respect the padding that's added to them */
	display: inline-block;

	/* this will transition all the properties that change over the course
	of 0.3s, giving a subtle animation/transition */

	transition: all 0.3s;
}



/* this is the: hover pseudo state that is only activated when the element is
hovered over */
nav a:hover {
	background-color: #C1C7C9;
	color: #fff;
}


.intro{
	background-image: url(../images/blur-bg.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-color: #B0E1C4;


	background:#B0E1C4 url(../images/blur-bg.jpg) center no-repeat;
	/* however, we need to add the background-size  as an extra,
	as this cannot be written as part of the shorthand */


	background-size: cover;
/* we manually set the height here o chop off the bottom of the
iphone screen and create equal distance above and below the lead text */

	height: 570px;

/* by applying overflow: hidden, the part of the iphone image that was
spilling outside of the section is now hidden */


	overflow:hidden;

	/* this creates the space for the header to sit in (as the header is currently
		sitting on a seperate layer */

	margin-top: 80px;
}

	.iphone {
		float:left;
		width: 50%;

		/* margins are the best way to create space around elements */

		margin-top: 50px;

	/* this will align the image in the center */
		text-align: center;
	}
	.lead {

		float: right;
		width: 50%;

		margin-top: 100px;
		/* instead of using margin, we use padding, otherwise there will
		not be enough available space for the iphone and lead to display
		side by side */
		padding-left: 70px;
	}

	h2{
		font-size: 60px;

		/* its always a good idea to reduce line-height with larger font sizes,
		to avoid having lots of empty space */
		line-height: 1;
	}

.lead p{
	font-size: 22px;
	margin: 50px 0;

}
.columns {
	/* center all the text inside of our columns */
	text-align:center;

	/* create space around each column so they're not so bunched up*/
	margin-top: 70px;
	margin-bottom: 70px
}

h3 {
	font-size: 25px;
  text-align: center;
	/*margin-top:30px;
	margin-bottom: 5px;*/
}

.columns p {
	margin-left: 30px;
	margin-right:30px;
}

.reviews {
	background-color: #e9e9e9;
}



.reviews .columns {
	background-color:#fff;
	padding: 65px 23px;


/* borders need to have a thickness, type and colour
specified. the types of borders are: solid,
dashed, dotted, none and image */

	border: 1 px solid #e1e1e1;

border-radius: 4px;

}
.reviews img {
	width: 70px;
	margin-top:10px;

/* border radius allows us to round the corners of an element by setting it at 100 %, we can create
a circular image */



	border-radius: 100%;
}

.reviews blockquote {
	font-size: 22px;
	margin-bottom: 10px;
}


.contact {
	/*
    1.background image of map.jpg which needs to be centred and stretched
    across
	2. padding on top and bottom of 70px
	3. align all text in the center
	4.(you'll need to write a new selector
	   for this), but you'll need to restyle
	   the links

	   a. colour of #444
		b.remove the underline
		c. border on the bottom of 2px #444


	*/

background: url(../images/map.jpg) center;
background-size: cover;

padding-top: 70px;
padding-bottom:70px;
text-align:center;
}

.contact a{
	color: #444;
	text-decoration: none;
	padding-bottom:1px;
	border-bottom: 2px solid #444;
}

form {
	max-width: 400px;
	margin: 20px auto 0 auto;
}

/* unputs and textareas come with a lot of default styles
that need to be overridden*/
input,
textarea {

	/* over*/

border:none;
width: 100%;

/* overrides the default padding of 10px */

padding: 10px;
margin: 10px 0;
border-radius: 3px;

}

textarea {
	/* override the default (small) height */
	height: 150px;

	/* it's only going to allow us to resize the textarea along the vertical axis*/

    resize: vertical;
}

/* this is an attribute selector, which allows us to select elements that match certain
attributes*/

input[type="submit"] {

	background-color: #C1C7C9;
	color: #777777;

/* this will tell the button to use the hand pointer cursor
instead of the standard mouse (signals that it's somehting
that needs to be clicked */

	cursor: pointer;
}

input,
textarea {
	outline: none;

	/* this will allow us to have a nice transition of
	the box shadow when the user clicks on the inputs */
  box-shadow: 0 0 4px rgba(0,0,0,0);
	transition: box shadow 0.3s;
}


/* this state is triggered when the cursor is currently
active inside of the inputs/textareas */

input:focus,
textarea:focus{
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

footer{
	padding: 40px 0;
	text-align: center;
}
	footer a{
		margin:0 5px;
		text-decoration: none;

}
small{ display: block;
margin-top: 10px;}

/* insert break point for 850px */

@media screen and (max-width:850px){


	.lead,
	.iphone {
		float: none;
		/* width auto is the width a block element has by default in css */

		width: auto;
	}
	.intro{

		height: auto;
		text-align:center;
	}
	.lead {
		margin-top: 30px;
		padding-left:0;
	}
	.columns {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.contact {
		padding-top:20px;
		padding-bottom: 20px;
	}
	.contact h3 {
		margin-top: 0;
	}
}

@media screen and (max-width: 500px) {

	header{
		position:static;
		/* align everything in the middle */
		text-align: center;

	}

	h1,
	nav{ float:none;

	}
	h1{
		padding-bottom: 0;
	}

	nav a{

		padding: 20px;
	}
.intro {
	margin-top:0;
}

}
