%h1 Willkommen
.links
  = link_to 'Log Food', new_foodlog_path
  %br
  = link_to 'Log Pain', new_painscore_path
  %br
  = link_to 'Log Activity', new_activity_path
  %br
  = link_to 'Results', results_path
