%h1 Willkommen in your pain management app
%nav
  = link_to 'Log Food', new_foodlog_path
  = link_to 'Log Pain', new_painscore_path
  = link_to 'Log Activity', new_activity_path
  = link_to 'Results', results_path
