%h1 Relation between exercise activity and painscores
%h3{:class => "hidden", :id => "pains"}
  - if !@painscores.empty?
    - @painscores.each do |f|
      = f.score
%h3{:class => "hidden", :id => "activity"}
  - if !@activities.empty?
    - @activities.each do |f|
      = f.exertion
  - else
    %h1 No Results Yet

%canvas#canvas{:height => "150", :width => "300"}
:javascript
  var canvas = document.getElementById('canvas').getContext('2d');
  var painScores = document.getElementById('pains');
  painScores = painScores.textContent.split("\n");
  pain = [];
  for(i=0;i<painScores.length;i++){pain.push(parseInt(painScores[i]))}
  pains = [];
  pains = pain.filter(function(item) {return !!item;})
  var exertion = document.getElementById('activity');
  exertion = exertion.textContent.split("\n");
  exertions = [];
  for(i=0;i<painScores.length;i++){exertions.push(parseInt(exertion[i]))}
  exertionact = [];
  exertionact = exertions.filter(function(item) {return !!item;})

  function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
   }
   randomColorp = [];
   for(i=0;i<pains.length;i++){
   randomColorp.push(getRandomColor())
   };
   randomColora = [];
   for(i=0;i<pains.length;i++){
   randomColora.push(getRandomColor())
   };
   var myChart = new Chart(canvas, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: 'painscores',
            fill: false,
            data: pains,
            backgroundColor: "#4083ef",
            borderColor: "#4083ef",
            borderWidth: 5
        },{
            label: 'activities',
            fill: false,
            data: exertionact,
            backgroundColor: "red",
            borderColor: "red",
            borderWidth: 5
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });
